<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Gerenciamento de Usuários</title>
  
  {% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {{ bootstrap.load_css() }}
  {% endblock styles %}
</head>

<body>
  {% include 'nav.html' %}

  <div class="container">
    {% block content %} {% endblock %}
  </div>

  {% block scripts %}
    {{ bootstrap.load_js() }}
  {% endblock %}
</body>

</html>