{% extends 'base.html' %} {% block content %}

<div class="mt-5">
  <a href="{{ url_for('user.index') }}" class="btn btn-info">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    Voltar
  </a>
  <a
    href="{{ url_for('book.user_add_book', id=user.id) }}"
    class="btn btn-success"
  >
    <i class="fa fa-plus" aria-hidden="true"></i>
    Adicionar Livro
  </a>

  <table class="table table-striped mt-3">
    <tbody>
      <tr>
        <td>
          {{ user.id }}
        </td>
        <td>
          {{ user.name }}
        </td>
        <td>
          {{ user.email }}
        </td>
        <td>
          {{ user.profile.photo }}
        </td>
        <td>
          <a
            class="btn btn-danger btn-sm"
            href="{{ url_for('user.delete', id=user.id) }}"
          >
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="text-muted">Books:</h2>

  <ul class="list-group list-group-flush mt-5">
    {% for book in user.books %}
    <li class="list-group-item">
      {{ book.name }}
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
